*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.fa{
  color:gray;
  cursor: pointer;
}
h4{
  margin-left: 10px;
}

.margin-left{
  margin-left: 10px;
}
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #D9DAD2;
}
header{
  width: 100%;
  height: 90px;
  background-color: #0C9587;
}
.Chat-container{
  width: 70%;
  height: 95%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url();
  background-position: center;
  background-size: cover;
}
.Chat-menu{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #EDEDEE;
}
.Chat-menu_left{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  width: 35%;
  border-right: 1px solid lightgray;
}
.Chat-menu_right{
  align-items: center;
  display: flex;
  width: 75%;
}
.Chat-menu_left img{
  width: 35px;
  height: 70%;
  border-radius: 50%;
}
.Chat-menu_left .fa{
  margin-right: 5px;
  color: gray;
  padding: 7px;
}
.Chat-menu_left-foto{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.Chat-menu_right-foto{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.Chat-menu_right img{
  width: 35px;
  height: 70%;
  border-radius: 50%;
  background-color: grey;
}
.amico{
  font-weight: bold;
  margin-left: 10px;
}
.Chat-menu_right .fa{
  padding: 5px;
  margin-right: 10px;
  color:grey;
}
.Friends-menu{
  float: left;
  width: 31.8%;
  height: 94%;
  display: flex;
  flex-direction: column;
  border: 3px solid #9CE0FE;
}
.Friends-menu p{
  color:grey;
  font-size: 0.8em;
}
.new-message{
  width: 100%;
  height: 60px;
  background-color: #9CE0FE;
  display: flex;
  align-items: center;
}
.new-message .fa{
  font-size: 1em;
  color:#9CE0FE;
}
.new-message_icon{
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.underline{
  text-decoration: underline;
  font-weight: 100;
  color:gray;
}
.new-message_text{
  margin-left: 10px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  background-color: #EDEDEE;
}

#input{
  width: 250px;
}
.users{
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.users:hover{
  background-color: #0C9587;
  color:white;
}
.users_icon{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img-perfezionata{
  width: 35px;
  height: 70%;
  border-radius: 50%;
  background-color: grey;
  margin-left: 10px;
}
.chat-sfondo{
  float: left;
  background-image: url(https://i.pinimg.com/originals/ed/24/d3/ed24d37dfad63bbd8fae98435696d303.jpg);
  background-position: center;
  width: 68.2%;
  height: 94%;
  position:relative;
}
.chat-input{
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid black;
  height: 45px;
  display: flex;
  background-color: #F5F1ED;
  align-items: center;
  justify-content: space-around;
}
#chat-messagge{
  border-radius: 5px;
  width: 550px;
}
